body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 72px;
    width: 100%;
    /* margin: 0% auto; */
    /* position: fixed; */
    box-shadow: 0px 3px 16px rgb(38 38 38 / 16%);
    z-index: 10222;
    background-color: #fff;

}

.header {
    height: 72px;
}

/* .header>div>img {
    padding-left: 30px;
} */

button {
    width: 78px;
    height: 40px;
    background-color: #fff;
    border: 0.5px solid rgba(151, 151, 151, 20%);
    border-radius: 2px;
}

.together {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-weight: lighter;
}

header+.restaurants {
    padding-top: 72px;
}

/* #cardImg {
    width: 100%;
} */

.card {
    height: 450px;
}

#category {
    font-size: 14px;
    color: #626262;
}

#time {
    font-size: 13px;
}

#nameRestaurant {
    font-size: 16px;
}


input {
    border: 1px solid #979797;
    width: 100%;
    color: #979797;
    font-size: 16px;
    margin-top: 48px;
    margin-bottom: 40px;
    opacity: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;

}

footer {
    background-color: #262626;

}

#logo-white {
    padding-top: 56px;
    padding-bottom: 40px;
}

#hr-footer {
    border: 0;
    height: 1px;
    background: #979797;

}

.list {
    margin-top: 30px;
    width: 227px;
    height: 40px;
    background-color: #3B3B3B;
    color: #fff;
    font-family: inherit;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('img/arrow-back.svg') 96% no-repeat #EEE;
    border: none;
}

option {
    padding-left: 20px !important;
}



.footerList {
    color: #fff;
    font-family: inherit;
    font-size: 13px;
    line-height: 2.5em;
    padding-top: 10px;
    list-style-type: none;
}


.hash {
    margin-top: 33px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
}

.icons {
    margin-top: 21px;
    display: flex;
    width: 92px;
    height: 24px;
    justify-content: space-between;
}

.stores {
    margin: 35px 0px 35px 0px;
    display: flex;
    justify-content: space-evenly;
}

.footer-end {
    color: #fff;
    font-family: inherit;
    font-size: 13px;
    line-height: 3.5em;
    padding-top: 10px;
    list-style-type: none;
}

/* img {
    max-width: 100%;
} */



.menu {
    list-style: none;
    padding-left: 0;

    font-family: inherit;
    color: #626262;
    display: flex;
    justify-content: flex-start;
}

.menu>li {
    padding-right: 40px;
}

.snack {
    border: 1px solid rgba(151, 151, 151, 20%);
    height: 160px;
}

#hr-line {
    border-top: 0px solid rgba(151, 151, 151, 20%);
}

.pad {
    padding-left: 20px;
}

#pad-img {
    padding-bottom: 0px;
}




@media only screen and (min-width: 0px) {
    .row-marg {
        margin-bottom: 17px;

    }

    .snack {
        border-left: none;
        border-right: none;
        border-top: 0px solid rgba(151, 151, 151, 20%);
    }

}

@media only screen and (min-width: 768px) {
    .row-marg {
        margin-bottom: 32px;
    }

    .snack {
        border: 1px solid rgba(151, 151, 151, 20%);
    }

}

@media only screen and (min-width: 1200px) {
    .row-marg {
        margin-bottom: 54px;
    }

    .snack {
        border: 1px solid rgba(151, 151, 151, 20%);
    }
}