body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 72px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 3px 16px rgb(38 38 38 / 16%);
    z-index: 10222;
    background-color: #fff;

}

.header {
    height: 72px;
}


button {
    width: 78px;
    height: 40px;
    background-color: #fff;
    border: 0.5px solid rgba(151, 151, 151, 20%);
    border-radius: 2px;
}

button:hover {
    background-color: #59bd5a;
    color: #fff;
}

.together {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-weight: lighter;
}

header+.restaurants {
    padding-top: 72px;
}

.card {
    height: 450px;
}

#category {
    font-size: 14px;
    color: #626262;
}

#time {
    font-size: 13px;
}

#nameRestaurant {
    font-size: 16px;
}


input {
    border: 1px solid #979797;
    width: 100%;
    color: #979797;
    font-size: 16px;
    margin-top: 48px;
    margin-bottom: 40px;
    opacity: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;

}

footer {
    background-color: #262626;

}

#logo-white {
    padding-top: 56px;
    padding-bottom: 40px;
}

#hr-footer {
    border: 0;
    height: 1px;
    background: #979797;

}

.list {
    margin-top: 30px;
    width: 227px;
    height: 40px;
    background-color: #3B3B3B;
    color: #fff;
    font-family: inherit;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('img/arrow-back.svg') 96% no-repeat #EEE;
    border: none;
}

option {
    padding-left: 20px !important;
}



.footerList {
    color: #fff;
    font-family: inherit;
    font-size: 13px;
    line-height: 2.5em;
    padding-top: 10px;
    list-style-type: none;
}


.hash {
    margin-top: 33px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
}

.icons {
    margin-top: 21px;
    display: flex;
    width: 92px;
    height: 24px;
    justify-content: space-between;
}

.stores {
    margin: 35px 0px 35px 0px;
    display: flex;
    justify-content: space-evenly;
}

.footer-end {
    color: #fff;
    font-family: inherit;
    font-size: 13px;
    line-height: 3.5em;
    padding-top: 10px;
    list-style-type: none;
}


.container-img {
    background: url('../img/eat_rest.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    margin: 0 auto;
    height: 364px;
}

.menu {
    list-style: none;
    padding-left: 0;
    font-family: inherit;
    color: #626262;
    display: flex;
    justify-content: flex-start;
}

.menu>li {
    padding-right: 40px;
}

.menu>li:hover {
    color: #49A144;
}

.snack {
    border: 1px solid rgba(151, 151, 151, 20%);
    height: 160px;
    border-radius: 2px;
}

#hr-line {
    border-top: 0px solid rgba(151, 151, 151, 20%);
}

.pad {
    padding-left: 20px;
}

#pad-img {
    padding-bottom: 0px;
    border-radius: 2px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    padding-top: 40px;
}

.block-rest {
    width: 389px;
    height: 204px;
    background-color: #fff;
    font-family: inherit;
    border-radius: 2px;

}

.block-rest-p {
    font-size: 36px;
    padding-top: 44px;
    text-align: center;
}

.species-time {
    display: flex;
    justify-content: space-around;
}

.time {
    width: 100px;
    height: 32px;
    background-color: #262626;
    border-radius: 16px;
    color: #fff;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr-xs {
    width: 50px;
    height: 1px;
    background-color: #000000;
    margin: 0% auto;
    margin-bottom: 40px;
}

.topbutton {
    position: fixed;
    bottom: 115px;
    right: 90px;
    cursor: pointer;
}

.topbutton2 {
    position: fixed;
    bottom: 50px;
    right: 90px;
    cursor: pointer;
}

.dropbtn {
    padding: 5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    width: 227px;
    height: 40px;
    background-color: #3B3B3B;
    color: #fff;
    font-family: inherit;
    font-size: 13px;
}


.dropbtn {
    padding-left: 48px;
    padding-top: 12px;
}

.dropbtn::before {
    background: rgba(0, 0, 0, 0) url("../img/world.svg") no-repeat left;
    content: "";
    height: 16px;
    position: absolute;
    right: 195px;
    top: 10px;
    width: 16px;
}

.dropbtn::after {
    background: rgba(0, 0, 0, 0) url("../img/arrow-back.svg") no-repeat right center;
    content: "";
    height: 16px;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 16px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3B3B3B;
    color: #fff;
    font-family: inherit;
    font-size: 13px;
    padding-left: 24px;
    width: 203px;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: #fff;
    font-family: inherit;
    padding: 2px 0 2px 25px;
    text-decoration: none;
    display: block;
}

/*Change color of dropdown links on hover .dropdown-content*/
a:hover {
    background-color: #666666;
}

/* Show the dropdown menu on hover  */
.dropdown:hover .dropdown-content {
    display: block;
}


@media only screen and (min-width: 0px) {
    .row-marg {
        margin-bottom: 17px;

    }

    .snack {
        border-left: none;
        border-right: none;
        border-top: 0px solid rgba(151, 151, 151, 20%);
    }

    .container-img {
        background: url('../img/eat_rest_xs.png') no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0px auto;
        height: 255px;
    }

    .species-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
    }

    .block-rest {
        margin: 0px auto;
    }

}

@media only screen and (min-width: 768px) {
    .row-marg {
        margin-bottom: 32px;
    }

    .snack {
        border: 1px solid rgba(151, 151, 151, 20%);
    }

    .container-img {
        background: url('../img/eat_rest_sm.png') no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0px auto;
        height: 364px;
    }

    .species-time {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0px;
    }

    .block-rest {
        margin: none;
    }

}

@media only screen and (min-width: 1200px) {
    .row-marg {
        margin-bottom: 54px;
    }

    .snack {
        border: 1px solid rgba(151, 151, 151, 20%);
    }

    .container-img {
        background: url('../img/eat_rest.png') no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0px auto;
        height: 364px;
    }

    .species-time {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0px;
    }

    .block-rest {
        margin: none;
    }
}